# See https://ktor.io/docs/server-configuration-file.html#config-basic and
# https://ktor.io/docs/server-configuration-file.html#predefined-properties

### KTOR ###
ktor:
  # Deployment
  deployment:
    port: 8079
    host: 0.0.0.0

folders:
  data: ${DATA_FOLDER:-/data}

google-calendar:
  credentials-file-path: ${GOOGLE_CREDENTIALS_FILE_PATH}
  calendar-id: ${GOOGLE_CALENDAR_ID}
  sync-from-date-time: ${GOOGLE_CALENDAR_SYNC_FROM_DATE_TIME:-2024-01-01T00:00:00Z}
  summary-to-guest-file-path: ${GOOGLE_CALENDAR_SUMMARY_TO_GUEST_FILE_PATH}
  sync-frequency-minutes: ${GOOGLE_CALENDAR_SYNC_FREQ_MINUTES:-10}

database:
  file-path: ${folders.data}/app.db

guest:
  file-path: ${GUEST_FILE_PATH}

influx-db:
  url: ${INFLUXDB_URL}
  token: ${INFLUXDB_TOKEN}
  org: ${INFLUXDB_ORG}
  bucket: ${INFLUXDB_BUCKET}
  check-in:
    measurement: ${INFLUXDB_CHECK_IN_MEASUREMENT}
    range-start: ${INFLUXDB_CHECK_IN_RANGE_START}
    range-stop: ${INFLUXDB_CHECK_IN_RANGE_STOP:-}
    # TODO: consider removing, not used in the orchestration logic
    sync-frequency-minutes: ${INFLUXDB_CHECK_IN_SYNC_FREQ_MINUTES:-10}

vehicle-trip:
  file-path: ${VEHICLE_TRIP_FILE_PATH}
  login-url: ${VEHICLE_TRIP_LOGIN_URL}
  trips-url: ${VEHICLE_TRIP_TRIPS_URL}
  username: ${VEHICLE_TRIP_USERNAME}
  password: ${VEHICLE_TRIP_PASSWORD}
  sync-from-date: ${VEHICLE_TRIP_SYNC_FROM_DATE}
  sync-frequency-minutes: ${VEHICLE_TRIP_SYNC_FREQ_MINUTES:-60}
  user-agent: ${VEHICLE_TRIP_USER_AGENT}
  referrer: ${VEHICLE_TRIP_REFERRER}
  locale: ${VEHICLE_TRIP_LOCALE}
  page-size: ${VEHICLE_TRIP_PAGE_SIZE:-200}

ski-stats:
  base-url: ${SKI_STATS_BASE_URL}
  auth-path: ${SKI_STATS_AUTH_PATH}
  season-stats-path: ${SKI_STATS_SEASON_STATS_PATH}
  app-instance-id: ${SKI_STATS_APP_INSTANCE_ID}
  app-platform: ${SKI_STATS_APP_PLATFORM}
  api-key: ${SKI_STATS_API_KEY}
  app-version: ${SKI_STATS_APP_VERSION}
  cookie: ${SKI_STATS_COOKIE}
  user-agent: ${SKI_STATS_USER_AGENT}
  profile-ismar:
    username: ${SKI_STATS_PROFILE_ISMAR_USERNAME}
    password: ${SKI_STATS_PROFILE_ISMAR_PASSWORD}
    agent-id: ${SKI_STATS_PROFILE_ISMAR_AGENT_ID}
    client-secret: ${SKI_STATS_PROFILE_ISMAR_CLIENT_SECRET}
